<form>
  <div class="input-group">
    <p>
      <label for="initial-invest">Initial Investment</label>
      <input id="initial-invest" type="number" />
    </p>
    <p>
      <label for="anual-invest">Anual Investment</label>
      <input id="anual-invest" type="number" />
    </p>
  </div>

  <div class="input-group">
    <p>
      <label for="expected-return">Expected Return</label>
      <input id="expected-return" type="number" />
    </p>
    <p>
      <label for="duration">Duration</label>
      <input id="duration" type="number" />
    </p>
  </div>
  <p>
    <button>Calculate</button>
  </p>
</form>
